/Just Testing/nbproject/private/
/Just Testing/build/
/ex1_lista1/nbproject/private/
/ex1_lista1/build/
/ex2_lista1/nbproject/private/
/ex2_lista1/build/
/ex3_lista1/nbproject/private/
/ex3_lista1/build/